nodes:
    - address: {{ groups['tag_Purpose_NGINX'][0] }}
      user: ec2-user
      role:
        - controlplane
        - etcd
        - worker
    - address: {{ groups['tag_Purpose_NGINX'][1] }}
      user: ec2-user
      role:
        - controlplane
        - etcd
        - worker
    - address: {{ groups['tag_Purpose_NGINX'][2] }}
      user: ec2-user
      role:
        - controlplane
        - etcd
        - worker
dns:
    provider: none
